ble_pack alu_out_RNO_2_1_LC_1_8_0 { alu_out_RNO_2[1] }
ble_pack alu_out_RNO_0_1_LC_1_8_1 { alu_out_RNO_0[1] }
ble_pack alu_out_RNO_1_LC_1_8_2 { alu_out_RNO[1] }
ble_pack s_ibuf_RNI667V1_0_2_LC_1_8_3 { s_ibuf_RNI667V1_0[2] }
ble_pack s_ibuf_RNID58E4_2_LC_1_8_4 { s_ibuf_RNID58E4[2] }
ble_pack s_ibuf_RNIJBFD6_2_LC_1_8_5 { s_ibuf_RNIJBFD6[2] }
ble_pack s_ibuf_RNI667V1_2_LC_1_8_6 { s_ibuf_RNI667V1[2] }
ble_pack s_ibuf_RNI4CDF1_3_LC_1_8_7 { s_ibuf_RNI4CDF1[3] }
clb_pack LT_1_8 { alu_out_RNO_2_1_LC_1_8_0, alu_out_RNO_0_1_LC_1_8_1, alu_out_RNO_1_LC_1_8_2, s_ibuf_RNI667V1_0_2_LC_1_8_3, s_ibuf_RNID58E4_2_LC_1_8_4, s_ibuf_RNIJBFD6_2_LC_1_8_5, s_ibuf_RNI667V1_2_LC_1_8_6, s_ibuf_RNI4CDF1_3_LC_1_8_7 }
set_location LT_1_8 1 8
ble_pack B_ibuf_RNILCBS_6_LC_1_9_0 { B_ibuf_RNILCBS[6] }
ble_pack B_ibuf_RNIM55C1_6_LC_1_9_1 { B_ibuf_RNIM55C1[6] }
ble_pack alu_out_RNO_3_1_LC_1_9_2 { alu_out_RNO_3[1] }
ble_pack alu_out_RNO_5_LC_1_9_3 { alu_out_RNO[5] }
ble_pack B_ibuf_RNII9BS_3_LC_1_9_4 { B_ibuf_RNII9BS[3] }
ble_pack B_ibuf_RNIJ25C1_3_LC_1_9_5 { B_ibuf_RNIJ25C1[3] }
ble_pack alu_out_RNO_3_3_LC_1_9_6 { alu_out_RNO_3[3] }
clb_pack LT_1_9 { B_ibuf_RNILCBS_6_LC_1_9_0, B_ibuf_RNIM55C1_6_LC_1_9_1, alu_out_RNO_3_1_LC_1_9_2, alu_out_RNO_5_LC_1_9_3, B_ibuf_RNII9BS_3_LC_1_9_4, B_ibuf_RNIJ25C1_3_LC_1_9_5, alu_out_RNO_3_3_LC_1_9_6 }
set_location LT_1_9 1 9
ble_pack alu_out_RNO_4_LC_1_10_0 { alu_out_RNO[4] }
ble_pack B_ibuf_RNI6EQF1_4_LC_1_10_1 { B_ibuf_RNI6EQF1[4] }
ble_pack B_ibuf_RNIJABS_4_LC_1_10_2 { B_ibuf_RNIJABS[4] }
ble_pack alu_out_RNO_0_LC_1_10_3 { alu_out_RNO[0] }
ble_pack s_ibuf_RNI1HJV_0_LC_1_10_4 { s_ibuf_RNI1HJV[0] }
ble_pack alu_out_RNO_6_LC_1_10_5 { alu_out_RNO[6] }
ble_pack s_ibuf_RNI1PPF_1_LC_1_10_6 { s_ibuf_RNI1PPF[1] }
ble_pack B_ibuf_RNIK35C1_4_LC_1_10_7 { B_ibuf_RNIK35C1[4] }
clb_pack LT_1_10 { alu_out_RNO_4_LC_1_10_0, B_ibuf_RNI6EQF1_4_LC_1_10_1, B_ibuf_RNIJABS_4_LC_1_10_2, alu_out_RNO_0_LC_1_10_3, s_ibuf_RNI1HJV_0_LC_1_10_4, alu_out_RNO_6_LC_1_10_5, s_ibuf_RNI1PPF_1_LC_1_10_6, B_ibuf_RNIK35C1_4_LC_1_10_7 }
set_location LT_1_10 1 10
ble_pack B_ibuf_RNI08QF1_1_LC_1_11_0 { B_ibuf_RNI08QF1[1] }
ble_pack B_ibuf_RNIU5QF1_0_LC_1_11_1 { B_ibuf_RNIU5QF1[0] }
ble_pack B_ibuf_RNIE5VR2_0_LC_1_11_2 { B_ibuf_RNIE5VR2[0] }
ble_pack alu_out_RNO_2_0_LC_1_11_3 { alu_out_RNO_2[0] }
ble_pack alu_out_RNO_0_0_LC_1_11_4 { alu_out_RNO_0[0] }
ble_pack alu_out_RNO_3_0_LC_1_11_5 { alu_out_RNO_3[0] }
ble_pack B_ibuf_RNIG7BS_1_LC_1_11_6 { B_ibuf_RNIG7BS[1] }
ble_pack B_ibuf_RNIH05C1_1_LC_1_11_7 { B_ibuf_RNIH05C1[1] }
clb_pack LT_1_11 { B_ibuf_RNI08QF1_1_LC_1_11_0, B_ibuf_RNIU5QF1_0_LC_1_11_1, B_ibuf_RNIE5VR2_0_LC_1_11_2, alu_out_RNO_2_0_LC_1_11_3, alu_out_RNO_0_0_LC_1_11_4, alu_out_RNO_3_0_LC_1_11_5, B_ibuf_RNIG7BS_1_LC_1_11_6, B_ibuf_RNIH05C1_1_LC_1_11_7 }
set_location LT_1_11 1 11
ble_pack alu_out_RNO_3_4_LC_1_12_1 { alu_out_RNO_3[4] }
ble_pack alu_out_RNO_2_4_LC_1_12_2 { alu_out_RNO_2[4] }
ble_pack alu_out_RNO_0_4_LC_1_12_3 { alu_out_RNO_0[4] }
ble_pack alu_out_RNO_3_5_LC_1_12_4 { alu_out_RNO_3[5] }
ble_pack B_ibuf_RNI8GQF1_5_LC_1_12_5 { B_ibuf_RNI8GQF1[5] }
ble_pack alu_out_RNO_2_5_LC_1_12_6 { alu_out_RNO_2[5] }
ble_pack alu_out_RNO_0_5_LC_1_12_7 { alu_out_RNO_0[5] }
clb_pack LT_1_12 { alu_out_RNO_3_4_LC_1_12_1, alu_out_RNO_2_4_LC_1_12_2, alu_out_RNO_0_4_LC_1_12_3, alu_out_RNO_3_5_LC_1_12_4, B_ibuf_RNI8GQF1_5_LC_1_12_5, alu_out_RNO_2_5_LC_1_12_6, alu_out_RNO_0_5_LC_1_12_7 }
set_location LT_1_12 1 12
ble_pack alu_out_RNO_2_3_LC_2_9_0 { alu_out_RNO_2[3] }
ble_pack alu_out_RNO_0_3_LC_2_9_1 { alu_out_RNO_0[3] }
ble_pack alu_out_RNO_3_LC_2_9_2 { alu_out_RNO[3] }
ble_pack B_ibuf_RNI2AQF1_2_LC_2_9_3 { B_ibuf_RNI2AQF1[2] }
ble_pack alu_out_RNO_2_2_LC_2_9_4 { alu_out_RNO_2[2] }
ble_pack alu_out_RNO_3_2_LC_2_9_5 { alu_out_RNO_3[2] }
ble_pack alu_out_RNO_0_2_LC_2_9_6 { alu_out_RNO_0[2] }
ble_pack alu_out_RNO_2_LC_2_9_7 { alu_out_RNO[2] }
clb_pack LT_2_9 { alu_out_RNO_2_3_LC_2_9_0, alu_out_RNO_0_3_LC_2_9_1, alu_out_RNO_3_LC_2_9_2, B_ibuf_RNI2AQF1_2_LC_2_9_3, alu_out_RNO_2_2_LC_2_9_4, alu_out_RNO_3_2_LC_2_9_5, alu_out_RNO_0_2_LC_2_9_6, alu_out_RNO_2_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack un1_A_1_cry_0_c_THRU_CRY_0_LC_2_10_0 { un1_A_1_cry_0_c_THRU_CRY_0 }
ble_pack alu_out_RNO_1_0_LC_2_10_1 { alu_out_RNO_1[0], un1_A_1_cry_0_c }
ble_pack alu_out_RNO_1_1_LC_2_10_2 { alu_out_RNO_1[1], un1_A_1_cry_1_0_c }
ble_pack alu_out_RNO_1_2_LC_2_10_3 { alu_out_RNO_1[2], un1_A_1_cry_2_0_c }
ble_pack alu_out_RNO_1_3_LC_2_10_4 { alu_out_RNO_1[3], un1_A_1_cry_3_0_c }
ble_pack alu_out_RNO_1_4_LC_2_10_5 { alu_out_RNO_1[4], un1_A_1_cry_4_0_c }
ble_pack alu_out_RNO_1_5_LC_2_10_6 { alu_out_RNO_1[5], un1_A_1_cry_5_0_c }
ble_pack alu_out_RNO_1_6_LC_2_10_7 { alu_out_RNO_1[6], un1_A_1_cry_6_0_c }
clb_pack LT_2_10 { un1_A_1_cry_0_c_THRU_CRY_0_LC_2_10_0, alu_out_RNO_1_0_LC_2_10_1, alu_out_RNO_1_1_LC_2_10_2, alu_out_RNO_1_2_LC_2_10_3, alu_out_RNO_1_3_LC_2_10_4, alu_out_RNO_1_4_LC_2_10_5, alu_out_RNO_1_5_LC_2_10_6, alu_out_RNO_1_6_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack alu_out_RNO_7_LC_2_11_0 { alu_out_RNO[7] }
ble_pack alu_out_RNO_0_7_LC_2_11_1 { alu_out_RNO_0[7] }
ble_pack alu_out_RNO_3_7_LC_2_11_2 { alu_out_RNO_3[7] }
ble_pack alu_out_RNO_2_7_LC_2_11_3 { alu_out_RNO_2[7] }
ble_pack B_ibuf_RNII15C1_2_LC_2_11_4 { B_ibuf_RNII15C1[2] }
ble_pack B_ibuf_RNIH8BS_2_LC_2_11_5 { B_ibuf_RNIH8BS[2] }
ble_pack B_ibuf_RNIKBBS_5_LC_2_11_6 { B_ibuf_RNIKBBS[5] }
ble_pack B_ibuf_RNIL45C1_5_LC_2_11_7 { B_ibuf_RNIL45C1[5] }
clb_pack LT_2_11 { alu_out_RNO_7_LC_2_11_0, alu_out_RNO_0_7_LC_2_11_1, alu_out_RNO_3_7_LC_2_11_2, alu_out_RNO_2_7_LC_2_11_3, B_ibuf_RNII15C1_2_LC_2_11_4, B_ibuf_RNIH8BS_2_LC_2_11_5, B_ibuf_RNIKBBS_5_LC_2_11_6, B_ibuf_RNIL45C1_5_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack alu_out_RNO_5_7_LC_2_12_0 { alu_out_RNO_5[7] }
ble_pack alu_out_RNO_3_6_LC_2_12_1 { alu_out_RNO_3[6] }
ble_pack alu_out_RNO_2_6_LC_2_12_2 { alu_out_RNO_2[6] }
ble_pack alu_out_RNO_0_6_LC_2_12_3 { alu_out_RNO_0[6] }
ble_pack B_ibuf_RNI4CQF1_3_LC_2_12_4 { B_ibuf_RNI4CQF1[3] }
ble_pack B_ibuf_RNIAIQF1_6_LC_2_12_5 { B_ibuf_RNIAIQF1[6] }
ble_pack alu_out_RNO_4_7_LC_2_12_6 { alu_out_RNO_4[7] }
ble_pack alu_out_RNO_1_7_LC_2_12_7 { alu_out_RNO_1[7] }
clb_pack LT_2_12 { alu_out_RNO_5_7_LC_2_12_0, alu_out_RNO_3_6_LC_2_12_1, alu_out_RNO_2_6_LC_2_12_2, alu_out_RNO_0_6_LC_2_12_3, B_ibuf_RNI4CQF1_3_LC_2_12_4, B_ibuf_RNIAIQF1_6_LC_2_12_5, alu_out_RNO_4_7_LC_2_12_6, alu_out_RNO_1_7_LC_2_12_7 }
set_location LT_2_12 2 12
set_io alu_out[6] 25
set_io B[7] 141
set_io A[7] 143
set_io s[1] 19
set_io alu_out[5] 22
set_io B[0] 144
set_io A[6] 7
set_io s[0] 11
set_io alu_out[4] 26
set_io B[1] 34
set_io A[5] 4
set_io s[3] 12
set_io clk 20
set_io alu_out[3] 23
set_io B[2] 139
set_io A[4] 2
set_io s[2] 21
set_io alu_out[2] 28
set_io B[3] 142
set_io A[3] 1
set_io alu_out[1] 31
set_io B[4] 3
set_io A[2] 33
set_io alu_out[0] 29
set_io B[5] 8
set_io A[1] 32
set_io alu_out[7] 24
set_io B[6] 9
set_io A[0] 10
